# Dependency directories
node_modules/
jspm_packages/

# Distribution directories
dist
build/Release
target/
npm/

# Cache directories
.npm
.eslintcache
.node_repl_history

# IDEs/Code Editor directries
.vscode
.idea

# Environment variables files
.env

# TypeScript declaration files
typings/

# Misc
.classpath
.settings
.factorypath
.DS_Store
